<form n:name="form" id="contact-form-false">
	<input n:name="name" value="{_Jméno}" onFocus="if (this.value == {_Jméno}) this.value = '';" onBlur="if (this.value == '') this.value = {_Jméno};" />
	<input n:name="email" value="{_Email}" onFocus="if (this.value == {_Email}) this.value = '';" onBlur="if (this.value == '') this.value = {_Email};" />
	<textarea n:name="message" onFocus="if (this.value == '{_Zpráva}') this.value = '';" onBlur="if (this.value == '') this.value = {_Zpráva};">{_Zpráva}</textarea>
	<input class="contact_btn" n:name="submit" value="{_Odeslat}" />
</form>
