<div class="menu_block clearfix">

	{* LOGO *}
	<div class="logo">
		<a href="{plink :Front:Homepage:}">Versatile</a>
	</div>
	{* LOGO *}

	{* RESPONSIVE BUTTON MENU *}
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="glyphicon glyphicon-align-justify"></span>
		</button>
	</div>
	{* //RESPONSIVE BUTTON MENU *}

	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li class="first"><a href="{plink :Front:Homepage:}" title="">Home</a></li>
			<li n:foreach="$pages as $page">
				<a>{$page->title}</a>
			</li>
			{* TODO: odkaz na stránky a lepší zakomponování items *}
			<li n:foreach="$items as $item">
				<a href="{plink $item->link}">{$item->title}</a>
			</li>
			<li class="last"><a href="{plink :Front:Contact:}" title="">Contacts</a></li>
		</ul>
	</div>
</div>
