<div class="menu_block clearfix">

	{* LOGO *}
	<div class="logo">
		<a href="{plink :Front:Homepage:}">Versatile</a>
	</div>
	{* LOGO *}

	{* RESPONSIVE BUTTON MENU *}
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="glyphicon glyphicon-align-justify"></span>
		</button>
	</div>
	{* //RESPONSIVE BUTTON MENU *}

	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav">
			<li n:foreach="$items as $item" n:class="$iterator->first ? first, $iterator->last ? last">
				<a href="{$item->link}">{$item->title}</a>
			</li>
		</ul>
	</div>
</div>
