services:
	-	Files\FineUploader()
	fineUploaderFactory:
		implement:  Files\Components\IFineUploaderFactory
		arguments:  [%wwwDir%/upload/files]
	-	Files\Components\IFileFormFactory
	-	Files\FileStorage(%wwwDir%/upload/files,	\Symfony\Component\Filesystem\Filesystem())
	-	Files\FileProcess