{block |strip}
	{control doctype}
	<html lang="{$locale}">
	<head>
		{control meta}
		{control title}
		{block styles}{control css}{/block}
		{control favicon}
	</head>
	<body>

	<script> document.body.className += 'js' </script>

	{control wrapper:above}
	{include content}
	{control wrapper:below}

	{block scripts}{control js}{/block}
	</body>
	</html>
{/block}
