{block content}
	{* TODO: article component *}

	{foreach $articles as $article}
		<h2>{$article->title}</h2>
		<p n:if="$article->authors">
			Autoři:
			{foreach $article->authors as $author}
				{$author->email}{sep}, {/sep}
			{/foreach}
		</p>
		{$article->body|texy}
	{/foreach}

	{$text}
{/block}
