<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">

				<li {ifCurrent :Options:Options:acl}class="active"{/ifCurrent}>
					<a href="{plink :Options:Options:acl}">
						ACL
					</a>
				</li>

				<li {ifCurrent :Options:Options:default}class="active"{/ifCurrent}>
					<a href="{plink :Options:Options:default}">
						Rozšíření
					</a>
				</li>

				<li {ifCurrent :Options:Options:general}class="active"{/ifCurrent}>
					<a href="{plink :Options:Options:general}">
						Obecné nastavení
					</a>
				</li>

				<li {ifCurrent :Options:Options:seo}class="active"{/ifCurrent}>
					<a href="{plink :Options:Options:seo}">
						Základní SEO
					</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
