<div class="sidebar">
	<nav id="navbar-main" class="navbar-default navbar-static-side" role="navigation">
		<ul class="nav navbar-nav">

			{define submenu}
				<ul class="dropdown-menu subMenu" role="menu">
					{foreach $menuItems as $menuItem}
						{?$entity = $menuItem->entity}
						<li n:class="$entity->url ? ($presenter->isLinkCurrent($entity->url->absoluteDestination) ? 'active')">
							<a {if $entity->externalUrl}
								href="{$entity->externalUrl}"
							{elseif $entity->url}
								href="{plink $entity->url->absoluteDestination}"
							{/if}
									n:class="$entity->url ? ($presenter->isLinkCurrent($entity->url->absoluteDestination) ? 'active')">{$entity->name}</a>
						</li>
					{/foreach}
				</ul>
			{/define}

			{block menu}
				{foreach $menuItems as $menuItem}
					{?$entity = $menuItem->entity}
					{* FIXME: linkCurrent *}
					<li n:class="$entity->url ? ($presenter->isLinkCurrent($entity->url->getAbsoluteDestination(TRUE)) ? 'active')">
						<a n:class="dropdown-toggle, $entity->url ? ($presenter->isLinkCurrent($entity->url->getAbsoluteDestination(TRUE)) ? 'active')"
								{if $entity->externalUrl}
									href="{$entity->externalUrl}"
								{elseif $entity->url}
									href="{plink $entity->url->absoluteDestination}"
								{/if}
								{ifset $menuItem->descendants}data-toggle="dropdown"{/ifset}>
							<span class="icon {$entity->icon}"></span>
							{$entity->name}
							{ifset $menuItem->descendants}
								<span class="ico flaticon-next21"></span>
							{/ifset}
						</a>
						{ifset $menuItem->descendants}
							{include submenu, menuItems => $menuItem->descendants}
						{/ifset}
					</li>
				{/foreach}
			{/block}

		</ul>
	</nav>
</div>
