services:
	- Pages\PageProcess
	- Pages\PageCategoryProcess
	- Pages\Components\MultiEdit\IMultiEditFactory
	- Pages\Components\PageForm\IPageFormFactory
	- Pages\Components\PagesGrid\IPagesGridFactory
	- Pages\Query\PagesQuery
	- class: Pages\Listeners\PageLoggerListener
	  tags: [kdyby.subscriber]
