# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

includes:
    - extensions.neon
    - factories.neon
    - services.neon


parameters:
	adminLayout: '%appDir%/AdminModule/presenters/templates/@layout.latte'
	frontLayout: '%appDir%/FrontModule/presenters/templates/@layout.latte'


latte:
	macros:
		- App\Macros\BootstrapMacros


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter


di:
    debugger: yes


doctrine:
	defaultRepositoryClassName: Kdyby\Doctrine\EntityRepository


routing:
	debugger: no


session:
	expiration: 14 days


core:
    https: yes


translation:
    default: cs
    fallback: [cs_CZ, cs]


monolog:
    name: CMS # Syslog only
    handlers:
    	- Monolog\Handler\RotatingFileHandler(%appDir%/../log/syslog.log, 30)
    processors:
    	- Monolog\Processor\IntrospectionProcessor
    	- Monolog\Processor\WebProcessor
    	- Monolog\Processor\GitProcessor
