# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

doctrine:
	user: REPLACE
	dbname: REPLACE
	metadata:
		App\Router: %appDir%/router
