# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

parameters:


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


di:
    debugger: yes


session:
	expiration: 14 days


constants:
    APP_DIR: %appDir%


core:
    https: yes


translation:
    default: cs
    fallback: [cs_CZ, cs]


includes:
    - extensions.neon
    - services.neon
