# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

extensions:
    - Versatile\DI\VersatileExtension

    ##### core extensions #####
    - Articles\DI\ArticlesExtension
    - CmsDefaultDataExtension\DI\CmsDefaultDataExtension
    - Eshop\DI\EshopExtension
    - Migrations\DI\MigrationsExtension
    - Options\DI\OptionsExtension
    - Pages\DI\PagesExtension
    - TinyMCE\TinyExtension
    - Users\DI\UsersExtension

    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    console: Kdyby\Console\DI\ConsoleExtension
    core: App\Extensions\CoreExtension(%debugMode%)
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    events: Kdyby\Events\DI\EventsExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    monolog: Kdyby\Monolog\DI\MonologExtension
    - Nette\DI\Extensions\InjectExtension
    - App\Extensions\CoreTemplateExtension
    - App\Extensions\ImageExtension(%wwwDir%)
    - App\Extensions\JavascriptExtension
    - App\Extensions\StylesheetExtension
