# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

extensions:
    - Versatile\DI\VersatileExtension

    ##### core extensions #####
    - Eshop\DI\EshopExtension
    - Files\DI\FilesExtension
    - Fixtures\DI\FixturesExtension
    - Localization\DI\LocalizationExtension
    - Migrations\DI\MigrationsExtension
    - Navigation\DI\NavigationExtension
    - Notes\DI\NotesExtension
    - Options\DI\OptionsExtension
    - Search\DI\SearchExtension
    - Pages\DI\PagesExtension
    - TinyMCE\DI\TinyExtension
    - Url\DI\UrlExtension
    - Users\DI\UsersExtension
    - WebFontLoader\DI\WebFontLoaderExtension

    annotations: Kdyby\Annotations\DI\AnnotationsExtension
    console: Kdyby\Console\DI\ConsoleExtension
    core: App\Extensions\CoreExtension(%debugMode%)
    doctrine: Kdyby\Doctrine\DI\OrmExtension
    events: Kdyby\Events\DI\EventsExtension
    translation: Kdyby\Translation\DI\TranslationExtension
    monolog: Kdyby\Monolog\DI\MonologExtension
    - App\Extensions\CoreTemplateExtension
    - App\Extensions\FontsExtension
    - App\Extensions\ImageExtension(%wwwDir%)
    - App\Extensions\JavascriptExtension
    - App\Extensions\StylesheetExtension
