# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

services:
	antFileStorage:
		class: Caching\AntFileStorage(%tempDir%/cache)
		autowired: no
	- App\AuthModule\Presenters\SignPresenter
	- App\Extensions\Registrar
