# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning

services:
	antFileStorage:
		class: Caching\AntFileStorage(%tempDir%/cache)
		autowired: no
	- App\Router\RouterFactory(..., @antRoute)
	antRoute:
		class: App\Router\AntRoute(..., @antFileStorage)
		autowired: no
		inject: yes
	router: @App\Router\RouterFactory::createRouter
	- App\AuthModule\Presenters\SignPresenter(%frontLayout%)
