<table class="table table-striped">
	<thead>
	<tr>
		<th>Email</th>
		<th>Role</th>
		<th>Datum vytvoření</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	<tr n:foreach="$users as $user">
		<td>{$user->email}</td>
		<td>
			{foreach $user->roles as $role}
				{$role->name}
				{if $role->parent}
					(dědí od {$role->parent->name})
				{/if}
				{sep}, {/sep}
			{/foreach}
		</td>
		<td>{$user->createdAt|date:'j.n.Y'}</td>
		<td>
			<a class="btn btn-xs btn-default" href="{plink edit $user->id}">Upravit</a>
			<a class="btn btn-xs btn-default"
			   n:href="deleteUser! $user->id"
			   data-confirm="Opravdu chcete tohoto uživatele smazat?">Smazat</a>
		</td>
	</tr>
	</tbody>
</table>
