{block content}
	<a class="btn btn-default" n:href="new">Nová stránka</a>
	<hr>
	{* TODO: také jako komponentu *}
	<table class="table table-striped">
		<thead>
		<tr>
			<th>Titulek</th>
			<th>Autoři</th>
		</tr>
		</thead>
		<tbody>
		<tr n:foreach="$pages as $page">
			<td>{$page->title}</td>
			<td>
				{foreach $page->authors as $author}
					{$author->email}{sep}, {/sep}
				{/foreach}
			</td>
		</tr>
		</tbody>
	</table>
{/block}
