<div class="searchWrap fr mr25">
	{form search, class => 'navbar-form', role => 'search'}
		<div class="input-group">
			<input n:name="text" class="form-control" placeholder="Hledej v administraci">

			<div class="input-group-btn">
				<button n:name="send" class="btn btn-default">
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</div>
	{/form}
</div>
