services:
	- Pages\PageFacade
	- Pages\CategoryFacade
	- Pages\CategoryProcess
	- Pages\Components\CategoryForm\ICategoryFormFactory
	- Pages\Components\CategoryGrid\ICategoryGridFactory
	- Pages\Components\MultiEdit\IMultiEditFactory
	- Pages\Components\PageForm\IPageFormFactory
	- Pages\Components\PagesGrid\IPagesGridFactory
	- Pages\Query\PagesQuery
	- Pages\Query\CategoryQuery
	- class: Pages\Listeners\PageLoggerListener
	  tags: [kdyby.subscriber]
