services:
	- Pages\PageFacade
	- Pages\PageCategoryProcess
	- Pages\Components\MultiEdit\IMultiEditFactory
	- Pages\Components\PageForm\IPageFormFactory
	- Pages\Components\PagesGrid\IPagesGridFactory
	- Pages\Query\PagesQuery
	- Pages\Query\CategoryQuery
	- class: Pages\Listeners\PageLoggerListener
	  tags: [kdyby.subscriber]
	- Pages\Components\CategoryGrid\ICategoryGridFactory
	- Pages\Components\CategoryForm\ICategoryFormFactory

	# Presenters in DIC - TODO: přidávat automaticky
	- Pages\AdminModule\Presenters\PagePresenter
	- Pages\AdminModule\Presenters\CategoryPresenter
	- Pages\FrontModule\Presenters\PagePresenter
