::selection {background: #8ade95;}
::-moz-selection {background: #8ade95;}


a:hover, a:focus {color:#8ade95;}

.color_text {color:#8ade95;}

.color_bg {background-color:#8ade95;}


/* __________ Buttons __________ */
.stylereset:hover {background-color:#8ade95 !important;}



/* _________ //Buttons _________ */






/*-----------------------------------------------------------------------------------*/
/*	INDEX PAGE
/*-----------------------------------------------------------------------------------*/
.logo a {border:3px solid #8ade95;}
.logo a:before {color:#8ade95;}


.social li a:hover {background-color:#8ade95;}


.navbar-nav li:hover a, .navbar-nav li a:focus, .navbar-nav li.active a {color:#8ade95;}
.sub-menu ul li.active a, .sub-menu ul li a:hover {background:#8ade95 !Important;}
.sub-menu ul.mega_menu li.active a, .sub-menu ul.mega_menu li a:hover {color:#8ade95 !important;}


.service_item a:hover {border-color:#8ade95;}
.service_item a:hover i:before {border-color:#8ade95;}
.service_item a:hover i {background-color:#8ade95;}


.latest_news_item .recent_post:before {background-color:#8ade95;}


.project_item .proj_descr {background-color: rgba(138,222,149,0.7);}
.project_item .proj_descr a {color:#8ade95;}


.copyright span {color:#8ade95;}


.foot_links li span {color:#8ade95;}


.contact_btn:hover {color:#8ade95; border-color: #8ade95;}


.FlickrImages li a {background-color:#8ade95;}


/*-----------------------------------------------------------------------------------*/
/*	//INDEX PAGE
/*-----------------------------------------------------------------------------------*/


.navbar-toggle:hover span {color:#8ade95;}



/* __________ Blog __________ */
#sidebar .tags a:hover, .tags a:hover {background: #8ade95;}

.FlickrImages li a {background-color:#8ade95;}

footer .tweet_module .tweet_time a {color:#8ade95;}

.tweet_module.index_page {background-color:#8ade95;}
/* _________ //Blog _________ */


/* __________ About __________ */
/* __________ Skills __________ */
.skill-bar:hover {border-left-color:#8ade95;}
.skill-bar:hover span {color:#8ade95;}
/* _________ //About _________ */


/* __________ Portfolio __________ */
#filter li a.selected {background-color:#8ade95;}
.portfolio_block .project .hover_img {background-color:#8ade95;}
.portfolio_block .project:hover .project_descr {border-bottom-color:#8ade95;}
/* _________ //Portfolio _________ */


/* __________ Shop __________ */
.product_sort #filter li a:hover, .product_sort #filter li a.selected {color:#8ade95;}

#price-range .ui-widget-header {background: #8ade95;}

.product_item2:hover {border-color:#8ade95;}

.product_inf .btn:hover {background-color:#8ade95; border-color:#8ade95;}

.variable-sizes .product_item .item_btn_in a.btn:hover {background-color:#8ade95;}

.sale {background-color:#8ade95;}

.type2 .product_price {color:#8ade95;}
.quantity_block .product_inf .btn.add_cart {border-color:#8ade95; color:#8ade95;}
.quantity_block .product_inf .btn.add_cart:hover {border-color:#8ade95; background-color:#8ade95;}
/* _________ //Shop _________ */


/* __________ Shortcodes __________ */
#accordion .ui-accordion-header:hover, #accordion .ui-accordion-header.ui-accordion-header-active, .shortcode_toggles_item_title:hover, .shortcode_toggles_item_title .ui-state-active {background:#8ade95;}
.nav-tabs li a:hover {color:#8ade95;}
.divider_colored {border-color:#8ade95;}

.most_popular .price_item_btn a, .price_item_btn a:hover {background:#8ade95;}
.most_popular .price_item_title {background:#8ade95;}

blockquote.type3:before {background-color:#8ade95;}
/* _________ //Shortcodes _________ */


/* __________ Footer __________ */
footer h3 {color:#8ade95;}
/* _________ //Footer _________ */


.search_form input.search_btn {background-color:#8ade95 !important;}


.jCarousel_pagination a:hover {background-color:#8ade95;}


.most_popular .price_item_cost h2,
.most_popular .price_item_cost h2 span {
	color:#8ade95;
}












