{form form}
<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			{label title /}
			{input title, class => "form-control"}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			{input editor, class => "form-control"}
		</div>
	</div>
</div>
<div class="row">
    <div class="col-lg-6">
        {input save class => 'btn btn-success'}
    </div>
</div>
{/form}