{block |strip}
	{control doctype}
	<html lang="{$locale}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{ifset title}{include title|striptags} | {/ifset}ANTstudio CMS Administrace</title>
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
		{control css:admin}
	</head>
	<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-brand">
					<a n:href=":Admin:Dashboard:default">ANTstudio CMS</a> |
					<a href="{plink :Front:Homepage:}">www</a>
				</div>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a n:href=":Auth:Sign:out">Odhlásit {$user->identity->data['email']}</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search..." disabled>
				</form>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li {if $presenter->name === 'Admin:Dashboard'}class="active"{/if}>
						<a n:href=":Admin:Dashboard:default">
							{_Nástěnka}
							{if $presenter->name === 'Admin:Dashboard'}
								<span class="sr-only"> ({_aktuální})</span>
							{/if}
						</a>
					</li>
					<li {if $presenter->name === 'Admin:Page'}class="active"{/if}>
						<a n:href=":Admin:Page:default">
							{_Stránky}
							{if $presenter->name === 'Admin:Page'}
								<span class="sr-only"> ({_aktuální})</span>
							{/if}
						</a>
					</li>
					<li {if $presenter->name === 'Admin:Eshop'}class="active"{/if}>
						<a n:href=":Admin:Eshop:default">
							{_Eshop}
							{if $presenter->name === 'Admin:Eshop'}
								<span class="sr-only"> ({_aktuální})</span>
							{/if}
						</a>
					</li>
					<li {if $presenter->name === 'Admin:Options'}class="active"{/if}>
						<a n:href=":Admin:Options:general">
							{_Nastavení}
							{if $presenter->name === 'Admin:Options'}
								<span class="sr-only"> ({_aktuální})</span>
							{/if}
						</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				{control flashes}
				{include content}
			</div>
		</div>
	</div>

	{block scripts}
		<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		{control js}
		{control js:custom}
		<script src="{$basePath}/js/main.js"></script>
	{/block}
	</body>
	</html>
{/block}
