{block |strip}
	{control doctype}
	<html lang="{$locale}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{ifset title}{include title|striptags} | {/ifset}ANTstudio CMS Administrace</title>
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">
		{block styles}
			<link rel="stylesheet" type="text/css" media="screen" href="{$basePath}/css/admin.min.css">
		{/block}
		<link href='https://fonts.googleapis.com/css?family=Roboto:900,300,700,400&amp;subset=latin-ext' rel='stylesheet' type='text/css'>
	</head>
	<body class="home eshop_in no_prave_menu pjt responsive">

	<header>
		<div class="fl webInfo">
			<a class="open-nav ai-th"></a>
			<p class="dib">
				Přejít na web<br/>
				<a href="{plink :Front:Homepage:}" class="ultra fs16">www.delsi-domenanawebu.cz</a>
			</p>
			<span id="tipsNums" class="num num-big valignT ml15">01</span>

			<div id="tipsContent">
				<p class="mb15">
					Na veřejnou část webu se vždy vrátíte  pomocí odkazu v hlavičce administrace. Většinu
					úprav můžete provést z veřejné části webu.
				</p>
				<p>
					<a class="ico flaticon-light102 btnBorder" href="">
						<span class="num">24</span>Chci další TIP</a><a class="posA ml10 mt15 seda exitTips" href="#">
						UKONČIT
					</a>
				</p>
			</div>
		</div>

		<div class="userInfo fr">
			<span class="badge-def mr10">VV</span>
			<span class="name">Václav Vomáčka <span class="ico flaticon-next21"></span></span>

			<div class="cont">
				<ul>
					<li><a n:href=":Auth:Sign:out">Odhlásit</a></li>
					<li><a href="">Nastavení uživatele</a></li>
					<li><a href="">Přepnout uživatele</a></li>
					<li><a href="">Nový uživatel</a></li>
				</ul>
			</div>
		</div>

		<div class="langSet">
			<select name="aa" class="" id="aa">
				<option value="">CZ</option>
				<option value="">EN</option>
			</select>
		</div>

		<div class="searchWrap fr mr25">
			<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Hledej v administraci" name="srch-term" id="srch-term">

					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</header>

	<div id="wrapper">
		{snippet adminMenu}
			{control adminMenu}
		{/snippet}
		<div id="content" class="grey-bg">
			<div class="row dashboard-header pageTitle">
				<span class="title fl">Nástěnka</span>

				<div class="fr" data-toggle="tooltip" data-placement="left" title="Nastavení">
					<em class="ico flaticon-gear39"></em> <em class="ico flaticon-next21 arrowDown"></em>
				</div>
			</div>
			<div class="row padding20">
				{control flashes}
				{include content}
			</div>
			<footer class="navbar-default noPrint row padding15 ">
				Systém vyvíjí <img class="logoAnt" src="{$basePath}/images/logo_ant.png" alt="Logo ANT studio"/>
			</footer>

			<div class="helpBtns">
				<a href=""><span class="ico flaticon-faq8 "></span><span class="text">Zobrazit NÁPOVÉDU</span></a>
				<a href=""><span class="ico flaticon-information51 dib rotate180"></span><span class="text">Nahlásit PROBLÉM</span></a>
			</div>
		</div>
	</div>

	{block scripts}
		<script type="text/javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
		{* FIXME ^^ *}
		<script type="text/javascript" src="{$basePath}/js/admin.min.js"></script>
		{control js}
	{/block}
	</body>
	</html>
{/block}
