<img id="preloader" src="{$basePath}/images/preloader.gif" alt="Preloader GIF"/>

<div id="page">
	<div class="container page_block">
		<div class="wrapper">
			{control header}
			<div class="content">
