<div class="sidebar">
	<nav id="navbar-main" class="navbar-default navbar-static-side" role="navigation">
		<ul class="nav navbar-nav">

			{*{define submenu}*}
				{*<li n:foreach="$menuItems as $menuItem">*}
					{*<a href="{plink :Admin:Page:}">{$menuItem->name}</a>*}{* FIXME *}
				{*</li>*}
			{*{/define}*}

			{*{block menu}*}
				{*{foreach $menuItems as $menuItem}*}
					{*{dump $menuItem}*}
					{*{include submenu, menuItems => $menuItem}*}
				{*{/foreach}*}
			{*{/block}*}

			<li {ifCurrent ':Admin:Dashboard:*'}class="active"{/ifCurrent}>
				<a href="{plink :Admin:Dashboard:}" {ifCurrent ':Admin:Dashboard:*'}class="active"{/ifCurrent}>
					<span class="icon ai-home60"></span>
					Nástěnka
				</a>
			</li>
			<li {ifCurrent ':Admin:Page:*'}class="active"{/ifCurrent}>
				<a data-toggle="dropdown" class="dropdown-toggle{ifCurrent ':Admin:Page:*'} active{/ifCurrent}">
					<span class="icon flaticon-document236"></span>
					Obsah <span class="ico flaticon-next21"></span>
				</a>
				<ul class="dropdown-menu subMenu" role="menu">
					<li><a href="{plink :Admin:Page:}">Stránky</a></li>
				</ul>
			</li>

			{* FIXME: vlastní modul *}
			{*<li {ifCurrent ':Eshop:AdminProduct:*'}class="active"{/ifCurrent}>*}
				{*<a href="{plink :Eshop:AdminProduct:default}" {ifCurrent ':Eshop:AdminProduct:*'}class="active"{/ifCurrent}>*}
					{*<span class="icon flaticon-luggage36"></span>*}
					{*Zboží eshop*}
				{*</a>*}
			{*</li>*}

			<li {ifCurrent ':Admin:Users:*'}class="active"{/ifCurrent}>
				<a href="{plink :Admin:Users:default}" {ifCurrent ':Admin:Users:*'}class="active"{/ifCurrent}>
					<span class="icon flaticon-user8"></span>
					Uživatelé
				</a>
			</li>
			<li {ifCurrent ':Admin:Options:*'}class="active"{/ifCurrent}>
				<a href="{plink :Admin:Options:general}" {ifCurrent ':Admin:Options:*'}class="active"{/ifCurrent}>
					<span class="icon flaticon-gear39"></span>
					Nastavení
				</a>
			</li>
		</ul>
	</nav>
</div>
