<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li {ifCurrent ':Admin:Dashboard:*'}class="active"{/ifCurrent}>
			<a href="{plink :Admin:Dashboard:}">
				{_Nástěnka}
				{ifCurrent ':Admin:Dashboard:*'}
					<span class="sr-only"> ({_aktuální})</span>
				{/ifCurrent}
			</a>
		</li>
		<li {ifCurrent ':Admin:Page:*'}class="active"{/ifCurrent}>
			<a href="{plink :Admin:Page:}">
				{_Stránky}
				{ifCurrent ':Admin:Page:*'}
					<span class="sr-only"> ({_aktuální})</span>
				{/ifCurrent}
			</a>
		</li>
                <li {ifCurrent ':Admin:Files:*'}class="active"{/ifCurrent}>
			<a href="{plink :Admin:Files:}">
				{_Přílohy / soubory}
				{ifCurrent ':Admin:Files:*'}
					<span class="sr-only"> ({_aktuální})</span>
				{/ifCurrent}
			</a>
		</li>

		{*<li {ifCurrent ':Admin:Eshop:*'}class="active"{/ifCurrent}>*}
			{* FIXME: should be part of Eshop ext *}
			{*<a href="{plink :Admin:Eshop:}">*}
				{*{_Eshop}*}
				{*{ifCurrent ':Admin:Eshop:*'}*}
					{*<span class="sr-only"> ({_aktuální})</span>*}
				{*{/ifCurrent}*}
			{*</a>*}
		{*</li>*}

		{*<li>*}
			{*<a>*}
				{*{_Uživatelé}*}
			{*</a>*}
		{*</li>*}
		<li {ifCurrent ':Admin:Options:*'}class="active"{/ifCurrent}>
			<a href="{plink :Admin:Options:general}">
				{_Nastavení}
				{ifCurrent ':Admin:Options:*'}
					<span class="sr-only"> ({_aktuální})</span>
				{/ifCurrent}
			</a>
		</li>
	</ul>
</div>
