{block title}Nastavení souborů{/block}

{block content}
	<div class="row mt20">
		<div class="col-md-12">
			<a n:href="upload"  class="btn btn-success">Přidat nové soubory</a>
			<a n:href="default" class="btn btn-success">Přehled souborů</a>
		</div>
	</div>

	<div class="row mt20">
		{control fileSettings}
	</div>
{/block}
