{block content}
	{control pageForm}
{/block}

{block scripts}
	{include parent}
	{* FIXME: lépe (js:custom?) *}
	<script type="text/javascript" src="{$basePath}/js/tinymce/tinymce.min.js"></script>
	<script>
		tinymce.init({
			selector: '#tinymceTextarea',
			language: 'cs'
		});
	</script>
{/block}
