{block title}Nastavení rozšíření{/block}

{block content}
	{control optionsMenu}
	<div class="alert alert-danger">
		Rozšíření zatím není možné nainstalovat!
	</div>
	{if $extensions}
		<h3>Rozšíření</h3>
		{foreach $extensions as $key => $ext}
			<h4>
				{$ext->name}
				{*<small>*}
					{*<a n:href="installExtension! $key">Nainstalovat</a>*}
				{*</small>*}
			</h4>
		{/foreach}
	{/if}
{/block}
