<div n:if="$items" class="main-menu">
	{ifset $parameters}
		{dump $parameters->param}
	{/ifset}
	{foreach $items as $item}
		<a href="{plink $item->link}" style="color: red">{$item->title}</a>
		{sep} # {/sep}
	{/foreach}
</div>
