{block title}Výpis stránek{/block}

{block controlButtons}
	<a class="btn btn-default" n:href="new"><span class="ico flaticon-plus32"></span>Nová stránka</a>
	<a class="btn btn-default" n:href=":Pages:Admin:Category:new"><span class="ico flaticon-plus32"></span>Nová kategorie</a>
{/block}

{block content}
	{control pagesGrid}
{/block}
