{block title}Nástěnka{/block}

{block content}
	{control advertisement}
	{row mb20}
		{col l6 m6}
			{control notes}
		{/col}
		{col l6 m6}
			{control lastOrders}
			{control errorGrid}
		{/col}
	{/row}
{/block}
