<p class="overview">
	{* TODO *}
	<a class="item" href="">Celkem<span class="num">24</span></a>
	<a class="item" href="">Veřejných<span class="num">24</span></a>
	<a class="item" href="">Rozepsaných<span class="num">24</span></a>
</p>

<form n:name="gridForm">
	<div class="filters mb10 mt10">
		<div class="col-lg-4">
			<div class="fl mr10">
				{input actionAbove, class => 'form-control', onchange => 'this.form.submit()'}
			</div>
			<div class="fl">
				<input class="form-control" type="text">
			</div>
			<!-- /input-group -->
		</div>
		<div class="col-lg-2">
			{input categories, class => 'form-control', onchange => 'this.form.submit()'}
		</div>
		<div class="col-lg-2">
			{input tags, class => 'form-control', onchange => 'this.form.submit()'}
		</div>
		<div class="col-lg-2">
			{input authors, class => 'form-control', onchange => 'this.form.submit()'}
		</div>
		<div class="col-lg-2">
			<input class="form-control" type="date" disabled>
		</div>

		<div class="cleaner"></div>
	</div>

	<div class="col-lg-12 box-default pt20 pl20 pr20">
		<table class="table table-bordered table-hover" n:no-grid="grid">
			<thead>
			<tr>
				<th class="tdCheck valignM">
					<input type="checkbox" id="selectAll">
				</th>
				<th class="valignM">Název</th>
				<th class="valignM alignC">Kategorie</th>
				<th class="valignM alignC">Štítky</th>
				<th class="valignM alignC">Autoři</th>
				<th class="valignM alignC">Datum</th>
				<th class="valignM alignC">ID</th>
			</tr>
			</thead>
			<tbody>
			<tr n:no-grid-data-as="$page">
				<td class="tdCheck valignM">
					{input page-$page->id}
				</td>
				<td class="valignM">
					<a class="bold" href="{plink edit $page->id}">
						{$page->title}
					</a>
				</td>
				<td class="valignM alignC">
					{foreach $page->categories as $category}
						{$category->name}{sep}, {/sep}
					{/foreach}
				</td>
				<td class="valignM alignC">
					{foreach $page->tags as $tag}
						<span class="label label-default">{$tag->name}</span>
					{/foreach}
				</td>
				<td class="valignM alignC">
					{foreach $page->authors as $author}
						{$author->email}{sep}, {/sep}
					{/foreach}
				</td>
				<td class="valignM alignC">
					{$page->createdAt|date:'j.n.Y'}
				</td>
				<td class="valignM alignC">
					{$page->getId()}
				</td>
			</tr>
			</tbody>
		</table>
	</div>

	<div class="filters mb10 mt10">
		<div class="col-lg-4">
			<div class="fl mr10">
				{input actionBelow, class => 'form-control', onchange => 'this.form.submit()'}
			</div>
		</div>
	</div>
</form>

{control grid:paginator}
