{layout none}

{control breadcrumb, param => 42}
{control contactForm, param => 42}
{control error404, param => 42}
{control favicon, param => 42}
{control flashes, param => 42}
{control footer, param => 42}
{control header, param => 42}
{control js}
{control mainMenu, param => 42}
{control signInForm, param => 42}
{control title, param => 42}
{control wrapper, param => 42}
{control wrapper:above, param => 42}
{control wrapper:below, param => 42}
